div.card{
    div.card-header{
        border: 0px;
        background: none;
    }
    div.card-body{
        div.form-group{
            label{
                color: white;
            }
        }
        background: none;
        border: 0px;
    }
    div.card-footer{
        border: 0px;
    }
    background: none;
    border: 0px;
}