<div class="fondo">
    <div class="d-flex align-items-center justify-content-center">
        <div class="row">
            <app-home-name></app-home-name>
            <app-home-speciality></app-home-speciality>
            <div class="col">
                <a type="button" class="btn from-left" routerLink="/website/frontend/portafolio">MY WORKS</a>
                <a type="button" class="btn from-right" routerLink="/website/frontend/about">ABOUT ME</a>
            </div>
        </div>
    </div>
</div>