<div class="container-fluid">
    <div class="card text-center">
        <div class="card-header">
            <h1>SOBRE MÍ</h1>
        </div>
        <div class="card-body">
            <app-about-perfil></app-about-perfil>
        </div>
        <div class="card-footer text-muted">2023 - Año de la unidad, la paz y el desarrollo</div>
    </div>
</div><br><br>
<div class="container-fluid">
    <div class="card text-center">
        <div class="card-header">
            <h1>Experiencia</h1>
        </div>
        <div class="card-body">
            <app-about-experience></app-about-experience>
        </div>
        <div class="card-footer text-muted">
            Fin del recorrido
        </div>
    </div>
</div>