<div class="container-fluid">
    <div class="card text-center">
        <div class="card-header">
            <h1>ERROR</h1>
        </div>
        <div class="card-body">
            <div class="container text-center">
                <h1 style="font-size: 20vh;"><strong>404</strong></h1>
                <h3>Not Found</h3>
                <h5>La url solicitada, no se encuentra disponible</h5>
            </div>
        <div class="card-footer text-muted">2023 - Año de la unidad, la paz y el desarrollo</div>
    </div>
</div>