<div class="loader">
  <div class="spinner-border text-info" style="width: 70px;height: 70px;" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="content">
  <div class="container-bar">
    <input type="checkbox" id="btn-social">
    <label for="btn-social" class="bi bi-arrow-right-circle-fill"></label>
    <div class="icon-social">
      <a routerLink="/website/frontend" class="icon-home bi bi-house-heart-fill">
        <span class="tittle">Home</span>
      </a>
      <a routerLink="/website/frontend/about" class="icon-about bi-file-person-fill">
        <span class="tittle">About</span>
      </a>
      <a routerLink="/website/frontend/portafolio" class="icon-portafolio bi bi-journals">
        <span class="tittle">Portafolio</span>
      </a>
      <a routerLink="/website/frontend/language" class="icon-language bi-code-slash">
        <span class="tittle">Language</span>
      </a>
      <a routerLink="/website/frontend/contact" class="icon-contacto bi-person-lines-fill">
        <span class="tittle">Contacto</span>
      </a>
    </div>
  </div>
  <div class="data">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


